{% extends "MyAppUserBundle::layout.html.twig" %}
{% block content %}
    <head></head>
    <body><h1> Modifier Flux</h1>
<form method="POST">  
    
    

     <div class="input-group">
   {{ form_label(form.contenu) }}
   {{ form_widget(form.contenu , {'attr':{'class': 'form-control','placeholder':'Contenu'}}) }}
   {{ form_errors(form.contenu) }}
    </div>

    <br>
       <button class="btn btn-block btn-primary" style="width: 300px;">Modifier</button>
    
{{ form_rest(form) }}

</form>
{% endblock %}