{% if user.image %}
    <img src="{{ asset(user.getWebPath()) }}" />
{% else %}
    Pas d'image de profil chargée !
{% endif %}

<h1>Charger une image de profil</h1>

<form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Uploader" />
</form>