{% extends "MyAppFrontBundle::layout.html.twig" %}
{% block content %}
    <style type="text/css">
        #moncadre {
        width:800px;
        margin:0 auto;
        padding:10px;
        background:#DDD;
        border:1px solid #DDD;
        border-radius:5px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        }
    </style>
    <h2 align="center">Ajouter un Sujet</h2>
<form method="POST">  
    <div id="moncadre">

    <br>
<div style="margin-right: 100 px;">
    <label>Titre</label>
 {{ form_widget(form.titre,{'attr':{'class':'form-control'}}) }}
</div>
    <br>

<div class="form-group">
 <label>Text</label>
 {{ form_widget(form.text,{'attr':{'class':'form-control'}}) }}
</div>
<div class="form-group">
 <label>Catégorie</label>
 {{ form_widget(form.categorie,{'attr':{'class':'form-control'}}) }}
</div>
<div>
<input type="submit" value="Ajouter" style="width: 300px;padding-left: 39px;margin-left: 250px;" class="btn btn-block btn-primary" >
</div>
{{ form_rest(form) }}
</form>
</div>
{% endblock %} 